@mixin btn-style ($text-color, $bg-color, $border, $border-radius: 4px){
  color: $text-color;
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}


@mixin d-flex ($flex-direction, $justify-content, $align-items, $gap){
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
