@use "../abstracts/typography" as *;
@use "../abstracts/variables" as *;

* {
  color: $primary-color;
  font-family: $font-primary;
  font-size: $font-size-base;
  text-align: center;
  text-decoration: none;
}

h2 { 
  font-family: $font-secondary;
  font-size: 4.3rem;
  line-height: 1.3em;
  text-transform: capitalize;
  color: #fff;
}

h3 {
  color: $secondary-color;
  font-family: $font-secondary;
  font-size: 2.7rem;
  line-height: 3.8rem;
}

.ads {
  color: #f9f9f9;
  font-family: $font-primary;
  font-size: $font-size-base;
}

.switch {
  color: $secondary-color;
  background-color: #2b2d37;
  padding: 1.6rem 2rem 1.6rem 0.5rem;
  border-radius: 25px;
  margin: 2.4rem 0;

  span {
    color: $secondary-color;
    background-color: $primary-btn-bg;
    padding: 1rem;
    margin-right: 1.6rem;
    border-radius: 19px;
  }
}
